@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-display: "Oswald", sans-serif;

  --color-brand-orange: #FF5722;
  --color-brand-dark: #111111;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-brand-dark);
  color: white;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  text-transform: uppercase;
}